<nav class="navbar navbar-expand-lg navbar-white bg-white">
    <a class="navbar-brand" href="#">Diarygenie</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/entries/thisweek">Entries this week <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/entries/">All entries <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/entries/add">Add entry</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="nav-link" href="/entries/search">Search my diary</a>
              <a class="nav-link" href="/entries/public">Public posts by Users</a>
              <a class="nav-link" href="/email">Email to future you</a>
          </div>
      </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><p class="lead mb-3">Welcome <%=name%></p></a>
        </li>
        <li class="nav-item ">
          <a class="btn btn-secondary" href="/users/logout">Logout</a>
        </li>
    </ul>
    </div>
  </nav>
