<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Diarygenie</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/entries/thisweek">Entries this week <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/entries/">All entries <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/entries/add">Add entry</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/entries/search">Search diary</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/entries/public">Public posts by Users</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/users/logout">Logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><p class="lead mb-3">Welcome <%=name%></p></a>
          </li>
      </ul>
    </div>
  </nav>