<!-- this is actually a view to show current weeks entries -->
<!-- need to add code to show message if user does not have any entries in current week -->
<% include ./partials/dashboardnavbar %>
<% include ./partials/messages %>
<% if (result!=[] && typeof result !='undefined') { %>
    <ul class="list-group">
        <% var flag = false %> 
        <% result.forEach(myfunction); %>
        <%function myfunction(item,index) { %>
            <% var d = new Date() %>
            <% var prevMonday = new Date(); %>
            <% prevMonday.setDate(prevMonday.getDate() - (prevMonday.getDay() + 6) % 7);%>
            <% prevMonday.setHours(0,0,0); %>
            <% if(item.date > prevMonday) {   %>
            <% flag=true %>      
            <li class="list-group-item"><a href='/entries/<%=item.id%>'><%=item.date.toDateString()%> <%=item.title%> </a></li>
               
        <% } } %>
        <% if (flag==false){ %>
            <div class="list-group-item">You have no entries this week</div>
        <% } %>    
    </ul>     

<% } %>