<% include ./partials/dashboardnavbar.ejs %>
<% include ./partials/messages %>
<% if (result!=[] && typeof result !='undefined') { %>
    <ul class="list-group">
        <% result.forEach(myFunction); %>
        <% function myFunction(item, index) { %> 
            <li class="list-group-item"><a href='/entries/<%=item.id%>'><%=item.title%></a></li> 
        <% } %>
    </ul>    

<% } %>