<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DIARYGENIE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <style type="text/css" media="screen">
  		body {
        background-image: url("/images/desk.jpg");
        background-repeat: repeat;
        background-size:500px 250px;
  			text-decoration-color: white;
  			font-size:17px;
  		}
  	</style>

  </head>
<body>
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>  Login</h1>
        <% include ./partials/messages %>
        <form action="/users/login" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Enter Password"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <p class="lead mt-4">
          No Account? <a href="/users/register">Register</a>
        </p>
      </div>
    </div>
  </div>
</body>
</html>
