 <% include ./partials/dashboardnavbar %>
 <% if (typeof result[0]!='undefined') { %>
    <div>
        <a href='/entries/public_search' class="btn btn-secondary">Search for a public diary</a>
    </div>
    <ul class="list-group">
        <% result.forEach(myfunction); %>
        <%function myfunction(item,index) { %>
        <li class="list-group-item"><a href='/entries/public/<%=item.id%>'><%=item.authorname %> - <%=item.date.toDateString()%> - <%=item.title%> </a></li>     
        <% } %>    
    </ul>     

   <% } %>

<% if (typeof result[0]=='undefined') { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        No public entries exist matching your search!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<% } %>   
