<% include ./partials/dashboardnavbar %>
<% include ./partials/messages %>
<p>Search for a public post</p>
<form action='/entries/public_search' method="POST">
    <div class="form-group">
        <label for="username">Enter a username</label>
        <input type="text" name="username" class="form-control" id="username" placeholder="Username" >
      </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Choose date</label>
      <input type="date" name="date" class="form-control" id="exampleFormControlInput1" placeholder="Enter title" >
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Search by keyword</label>
      <input type="text" name="keyword" class="form-control" id="exampleFormControlInput1" placeholder="Enter keyword">
    </div>
    <button type="submit" class="btn btn-primary">Show diary</button>
  </form>

   