<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DIARYGENIE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">


    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">


    <link rel="stylesheet" href="/css/style.css">
    <style type="text/css" media="screen">
  		body {
        background-color: skyblue;
  			text-decoration-color: white;
  			font-size:17px;
  		}
  	</style>

  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  <div class="site-wrap">
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <div class="site-navbar-wrap">
      <div class="site-navbar site-navbar-target js-sticky-header">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-6 col-lg-3">
              <h1 class="my-0 site-logo"><a href="index.html">DIARYGENIE</a></h1>
            </div>
            <div class="col-6 col-lg-9">
              <nav class="site-navigation text-right" role="navigation">
                <div class="container">
                  <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3 "><a href="#" class="site-menu-toggle js-menu-toggle text-black">
                    <span class="icon-menu h3"></span>
                  </a></div>
                  <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">
                    <li><a href="#home-section" class="nav-link">Home</a></li>
                    <li><a href="#features-section" class="nav-link">Features</a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- END .site-navbar-wrap -->

    <div class="site-section" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-5">
            <h1 class="text-white serif text-uppercase mb-4">AN ONLINE DIARY SYSTEM</h1>
            <p class="text-white mb-5">This is a online diary system which helps you to keep your memories in a wonderful and safe world.</p>
            <!--<p><a href="#" class="btn btn-white px-4 py-3">LOG IN</a></p>-->
       <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
          <h1><i class="fas fa-address-book fa-3x"></i></h1>
          <p>Create an account or login here</p>
          <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
          <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
        </div>
      </div>
    </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-10">
          </div>
        </div>
      </div>
    </div>
    <div class="site-section bg-light" id="features-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-7">
            <h2 class="heading">Features</h2>
            <p>The main features of this online diary system are following</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="service h-100">
              <span class="wrap-icon">
                <span class="icon-book"></span>
              </span>
              <h3>Account</h3>
              <p>create your own account to enter to DIARYGENIE </p>
            </div>

          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="service h-100">
              <span class="wrap-icon">
                <span class="icon-bookmark"></span>
              </span>
              <h3>Create Posts</h3>
              <p>Create your own posts with memories as words,photos and videos</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="service h-100">
              <span class="wrap-icon">
                <span class="icon-files-o"></span>
              </span>
              <h3>Safe and Secure</h3>
              <p>We provide safe and secure platform to ensure the safety of your account and posts.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="service h-100">
              <span class="wrap-icon">
                <span class="icon-font"></span>
              </span>
              <h3>Future Mail</h3>
              <p>You can set mail by attaching your posts to send to you in the future</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="service h-100">
              <span class="wrap-icon">
                <span class="icon-photo"></span>
              </span>
              <h3>Public-Private Posts</h3>
              <p>You can set your posts as public or private as your wish. You can see all public posts</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="service h-100">
              <span class="wrap-icon">
                <span class="icon-text-height"></span>
              </span>
              <h3>Tag people</h3>
              <p>You can tag other people in DIARYGENIE to your posts.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/jquery-3.3.1.min.js"></script>
   <script src="/js/popper.min.js"></script>
   <script src="/js/bootstrap.min.js"></script>
   <script src="/js/owl.carousel.min.js"></script>
   <script src="/js/aos.js"></script>
   <script src="/js/jquery.sticky.js"></script>
   <script src="/js/stickyfill.min.js"></script>
   <script src="/js/jquery.easing.1.3.js"></script>
   <script src="/js/isotope.pkgd.min.js"></script>

   <script src="/js/jquery.fancybox.min.js"></script>
   <script src="/js/main.js"></script>

  </body>
</html>
